# نسخه پایدار و سازگار با torch
numpy==1.23.5

# پایه‌های اصلی پروژه
torch>=1.8.1
torchaudio>=0.8,<2.1

# فقط کتابخانه‌های ضروری برای اجرای مدل‌ها و عملکرد اصلی
demucs
openunmix
einops
julius>=0.2.3
lameenc>=1.2
pyyaml
tqdm
soundfile>=0.10.3; sys_platform == "win32"
