# نسخه‌ی سازگار برای NumPy
numpy==1.23.5

# PyTorch و torchaudio با پشتیبانی از CUDA
torch>=1.8.1
torchaudio>=0.8,<2.1

# پکیج‌های موردنیاز Demucs و OpenUnmix
demucs
openunmix
dora-search>=0.1.12
diffq>=0.2.1
einops
flake8
hydra-colorlog>=1.1
hydra-core>=1.1
julius>=0.2.3
lameenc>=1.2
museval
mypy
pyyaml
submitit
tqdm
treetable

# مخصوص ویندوز
soundfile>=0.10.3; sys_platform == "win32"
